
$grey-5: #111111;
$grey-10: #222222;
$grey-20: #333333;
$grey-30: #3D3D3D;
$grey-40: #6B6B6B;
$grey-50: #909090;
$grey-60: #BFBFBF;
$grey-70: #DBDBDB;
$grey-80: #EBEBEB;
$grey-90: #F4F4F4;

$blue-10: #FFFFFF;
$blue-20: #FFFFFF;
$blue-30: #FFFFFF;
$blue-40: #FFFFFF;
$blue-50: #007BE5;
$blue-60: #0D99FF;
$blue-70: #FFFFFF;
$blue-80: #FFFFFF;
$blue-90: #BDE3FF;
$blue-95: #FFFFFF;
$blue-98: #FFFFFF;

$white-100: #FFFFFF;

$black-100: #000000;

$primary-light-2: $blue-50;
$primary-light-1: $blue-60;
$primary-main: $blue-50;
$primary-dark-1: $blue-50;
$primary-dark-2: $blue-50;

$secondary-light-2: $grey-80;
$secondary-light-1: $grey-70;
$secondary-main: $grey-40;
$secondary-dark-1: $grey-30;
$secondary-dark-2: $grey-20;

$text-primary: $grey-10;
$text-secondary: $grey-40;
$text-disabled: $grey-60;
$text-link: $blue-50;

$icon-dark: $text-primary;
$icon-light: $text-secondary;
$icon-primary: $primary-main;

$divider-super-light: $grey-80;
$divider-light: $grey-70;
$divider-dark: $grey-60;

