$opacity-0125: 0.125;
$opacity-025: .25;
$opacity-05: .05;
$opacity-90: .9;
$opacity-80: .8;
$opacity-70: .7;
$opacity-60: .6;
$opacity-50: .5;
$opacity-40: .4;
$opacity-30: .3;
$opacity-20: .2;
$opacity-10: .1;